<br><br><br><br>
<h6>
  This is a Project undertaken by us , to mimmic the whole process 
  of food ordering to food delivery to payment...
</h6>

<br><br>
<img src="/sq.png" > Made with <img src="/stack/love.png"> on <img src="/stack/node.png" height="100px" width="100px"> , <img src="/stack/mongo.png" height="100px" width="100px"> & <img src="/stack/material.png" height="100px" width="100px">
<br><br><br><br>