<br><br>
<br>
    <input type="text" name="" hidden=true id="id">
    <div class="row ">
        <div class="col s12 m6">
          <div class="card darken-5">
            <div class="card-content black-text">
              <span class="card-title">Forgot Your Password</span>
              <div class="row">
                    <div class="col s12">
                    <span id="mess">  OTP would be sent to </span>
                      <div class="input-field inline">
                        <input id="email_inline" type="email" class="validate">
                        <label id="label" for="email_inline">Email</label>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="card-action">
              <a id="send" href="#">Send OTP</a>
            </div>
          </div>
        </div>
      </div>


      <script>

          $("#send").click(function ab(){
              $.post("/OTP",{
                  email:$("#email_inline").val()
              },
              (data)=>{
                  if(data=="404")
                  notie.alert({position:"bottom",time:5,text:"No account with that email",type:"error"})
                  else{
                    notie.alert({position:"bottom",time:5,text:"Enter OTP ",type:"warning"})
                    $("#mess").text("Enter Your OTP")
                    $("#email_inline").attr("type","text")
                    $("#label").text("Enter OTP")
                    $("#email_inline").val("")
                    $("#send").hide()
                    $(".card-action").append('<a id="verify" href="#">Verify OTP</a>')
                  }
                  console.log(data)
                  $("#verify").click(()=>{
                    $("#id").val(data.id)
                    if($("#email_inline").val()==data.otp){
                      $("#mess").text("Enter Your new Password")
                      $("#email_inline").attr("type","password")
                      $("#label").text("Enter Password")
                      $("#email_inline").val("")
                      $("#verify").hide()
                      $(".card-action").append('<a id="change" href="#">Change Password</a>')

                      $("#change").click(()=>{
                        $.post("/otppass",{
                          id:$("#id").val(),
                          pass:$("#email_inline").val()
                        },(data)=>{
                            if(data=="updated"){
                              notie.alert({type:"success",position:"bottom",text:"password updated",time:5})
                            }
                        })
                      })
            
                    }
                    else{
                      notie.alert({type:"error",position:"bottom",text:"Wrong OTP,refresh to try again",time:5})
                    }
                  })
              })
          })

      </script>