<ul id="slide-out" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="/images/sq.jpg">
          </div>
          <a href="#user"><img class="circle" src=<%-data.pic%>></a>
          <a href="#name"><span class="white-text name"><%-data.username%></span></a>
          <a href="#email"><span class="white-text email"><%-data.email%></span></a>
        </div></li>
        <li><a href="/dashboard"><i class="material-icons">home</i>Dashboard</a></li>
              <li><a href="/dashboard/prev-orders"><i class="material-icons">history</i>View Previous Orders</a></li>
              <li><a href="/dashboard/FAQ's"><i class="material-icons">question_answer</i>FAQ's</a></li>
        <li><a href="/dashboard/settings"><i class="material-icons">settings_applications</i>Settings</a></li>
        <li><a href="/logout"><i class="material-icons">lock_open</i>SignOut</a></li>
      </ul>

      <div class="fixed-action-btn">
        <a data-target="slide-out" class="btn-floating sidenav-trigger btn-large waves-effect waves-light red"><i class="material-icons">view_headline</i></a>
      </div>

